node_modules/
bin/
dist/
public/
newman/
build
venv

.#*

__pycache__/
.envrc

### IntelliJ IDEA ###
.idea/*
.idea
*.iws
*.iml
*.ipr
!.idea/codeStyles
!.idea/runConfigurations

### Mac ###
.DS_Store

sandbox.postman_environment.json
